.outer {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
  }
  
  .card {
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .card h3 {
    padding: 2px;
    margin: 8px 0;
  }
  
  .card:hover {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card h4 {
    margin-top: auto;
  }
  
  .card p {
    margin: 14px 0;
  }

  .readonly {
    color: grey;
    margin-bottom: 2px;
  }